/** GLOBALES **/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    background-color: #dfe6e9;
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
    max-height: 350px;
}

/** HEADER **/
header{
    background-color: #ffffff;
    -webkit-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.32); 
    box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.32);
    transition: all 1s ease;
}
/** NAVEGACION **/

.menu{
    display: flex;
    justify-content: center;
}

.menu__link{
    text-decoration: none;
    color:#34495e;
}
.menu__item{
    list-style: none;
    display: inline-block;
    padding: 20px;
    text-align: center;
}
nav ul li a:hover{
    color:#e67e22;
    transition: all .1s ease-in;
}

.menu__link--active{
    font-weight: bold;
    color: #e67e22;
}

/** PIE DE PAGINA **/
.redes{
    display: flex;
    justify-content: center;
}
.redes div:first-child{
    margin-right: 15px;
}
.redes__link{
    color: #34495e;
    text-decoration: none;
}
.redes__link a i{
    margin-right: 5px;
}

.footer{
    margin: 50px 0;
    width: 100%;
    bottom: 0;
}

/** CONTAINER **/
.contenedor{
    margin: 10px 0;
}
@media (min-width:768px){
    .contenedor{
        margin: 50px;
    }
}

/** BLOQUES **/
.bloques{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/** BLOQUE **/

.bloque{
    margin: 25px;
    width: 300px;
    background-color: white;
    box-shadow: 5px 10px 20px 5px rgba(0,0,0,0.4);
    box-sizing: border-box;
    padding: 25px 30px;
    border-radius: 10px;
}

.bloque__imagen{
    max-width: 80%;
    display: block;
    margin: auto;
}

.bloque__titulo{
    margin-bottom: 15px;
    color: #34495e;
}
.bloque__price{
    margin: 10px 0;
    font-weight: 400;
}

.bloque__price--symbol{
    font-weight: bold;
    font-size: 20px;
}

/** BADGE **/

.badge{
    margin: 0;
    font-size:12px;
    background-color: #3498db;
    padding: 6px;
    border-radius: 100px;
    display: inline;
    color: #ecf0f1;
}
.badge__bg--secondary{
    background-color:#f1c40f;
}
.badge__bg--primary{
    background-color:#9b59b6;
}
.badge__bg--light{
    background-color:#ffffff;
    border: 1px solid #2c3e50;
    color: #2c3e50; 
    padding-left: 10px;
    padding-right: 10px;
}

/* RESPONSIVE MENU*/
.hamburger-menu{
    display: none;
}

@media (max-width:428px){
    .menu{
        position: absolute;
        width: 100%;
        top: -500%;
        background-color: #ffffff;
        transition: top .1s ease-in;
    }

    .hamburger-menu{
        display: inline-block;
        padding: 15px 0;
        z-index: 1;
    }

    .menu ul{
        display: flex;
        flex-direction: column;
    }

    /* BOTON MENU MOBILE */
    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }
    
    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    .menu__btn {
        position: fixed;
        top: 20px;
        left: 47%;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
}

/* SOBRE MI */
.about{
    display: flex;
    max-height: 70vh;
}

.about__image{
    display: flex;
    justify-content: center;
}

.about__image,  
.about__description{
    width: 50%;
}

.about__description{
    box-sizing: border-box;
    padding: 15px 30px;
}
.about__description p{
    margin: 10px;
    text-align: justify;
}
.about__description ul{
    margin-left: 25px;
}



@media screen and (max-width:428px) {
    header{
        position: relative;
    }

    .about{
        max-height: unset;
        flex-direction: column;
        align-items: center;
    }

    .about__image,  
    .about__description{
    width: 90%;
    }
    
}